.movie {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.movie .movie-head {
  display: flex;
  flex-direction: column;
}
.movie .movie-head .movie-title {
  font-weight: 600;
  color: #ffb703;
  font-size: 24px;
  margin-top: 10px;
}
.movie .movie-head img {
  height: 300px;
}
.movie .movie-body {
  padding: 20px;
}
.movie .movie-body .detail-wrapper {
  margin-bottom: 10px;
  color: #003366;
  text-transform: capitalize;
}
.movie .movie-body .detail-wrapper .detail-heading {
  margin-bottom: 5px;
  font-weight: 700;
}

/* Desktop */
@media (min-width: 768px) {
  .movie {
    display: block;
  }
  .movie .movie-head {
    flex-direction: row;
    align-items: center;
  }
  .movie .movie-head .movie-title {
    margin-left: 30px;
    margin-top: 0px;
  }
  .movie .movie-head img {
    height: 100px;
  }
}
